/* CSS declarations go here */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
div {
    display: inline-block;
    height: 100%;
    width: 100%;
}
div > p {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 600px;
    text-align: center;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.time {
    letter-spacing: 1px;
    font-size: 120px;
    top: 35%;
}
.me {
    top: 15%;
    font-size: 36px;
}
